@{
    ViewData["Title"] = "Home Page";

}

<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/favicon.ico>
    <title>hkd</title>
    <link rel=stylesheet href=/css/Roboto.css>
    <link rel=stylesheet href=/css/materialdesignicons.min.css>
    <link href=/css/cessions.0b27b1c3.css rel=prefetch>
    <link href=/css/cessions~contracts~ftp~partners.cf01b001.css rel=prefetch>
    <link href=/css/contracts.8ecabdcc.css rel=prefetch>
    <link href=/css/partners.38cdd38a.css rel=prefetch>
    <link href=/js/cessions.72252cef.js rel=prefetch>
    <link href=/js/cessions~contracts~ftp~partners.277bd43c.js rel=prefetch>
    <link href=/js/contracts.9936e143.js rel=prefetch>
    <link href=/js/contragents.b4558604.js rel=prefetch>
    <link href=/js/ftp.5f938e36.js rel=prefetch>
    <link href=/js/journal.7d2158a3.js rel=prefetch>
    <link href=/js/partners.7568c26a.js rel=prefetch>
    <link href=/js/requests.1a206248.js rel=prefetch>
    <link href=/js/services.45856c2a.js rel=prefetch>
    <link href=/css/chunk-vendors.a172843a.css rel=preload as= style>
    <link href=/js/app.e43ad132.js rel=preload as=script>
    <link href=/js/chunk-vendors.93b0b719.js rel=preload as=script>
    <link href=/css/chunk-vendors.a172843a.css rel=stylesheet>
</head>
<body>
    <noscript><strong>We're sorry but hkd doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript><div id=app></div>
    <script src=/js/chunk-vendors.93b0b719.js></script>
    <script src=/js/app.e43ad132.js></script>
</body>
</html>